<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Ana Sayfa</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalProject.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>

    <div>
        <h2>Hoş Geldiniz </h2>

        <p>Randevu almak için önce giriş yapın</p>
    </div>
    <div class="cart">
    <div class="card" style="width: 18rem;">
        <img src="./image/02d881a5276149b3c6f76daf59a73dea.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kalp ve Damar</h5>
            <p class="card-text">Çalışan Kalpte Baypas Operasyonları.</p>
            <a href="https://www.hemensaglik.com/makale/calisan-kalpte-bypass-operasyonu" class="btn btn-primary">Sitemizi Burdan Ziyaret Edebilirsiniz</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./image/sa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kalp ve Damar</h5>
            <p class="card-text">Çalışan Kalpte Baypas Operasyonları.</p>
            <a href="https://www.hemensaglik.com/makale/calisan-kalpte-bypass-operasyonu" class="btn btn-primary">Sitemizi Burdan Ziyaret Edebilirsiniz</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./image/lık.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kalp ve Damar</h5>
            <p class="card-text">Çalışan Kalpte Baypas Operasyonları.</p>
            <a href="https://www.hemensaglik.com/makale/calisan-kalpte-bypass-operasyonu" class="btn btn-primary">Sitemizi Burdan Ziyaret Edebilirsiniz</a>
        </div>
    </div>
    </div>
    
  
    
</body>
</html>
